@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1536px;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;

  --background: #ffffff;
  --foreground: #171717;

  --color-shadow-green-100: hsl(198, 19%, 56%);
  --color-shadow-green-200: hsl(198, 19%, 50%);
  --color-shadow-green-300: hsl(198, 19%, 44%);
  --color-shadow-green-400: hsl(198, 19%, 38%);
  --color-shadow-green-500: hsl(198, 19%, 32%);
  --color-shadow-green-600: hsl(198, 19%, 26%);
  --color-shadow-green-700: hsl(198, 19%, 20%);
  --color-shadow-green-800: hsl(198, 19%, 14%);

  --color-mint-green-100: hsl(140, 34%, 94%);
  --color-mint-green-200: hsl(140, 34%, 88%);
  --color-mint-green-300: hsl(140, 34%, 82%);
  --color-mint-green-400: hsl(140, 34%, 76%);
  --color-mint-green-500: hsl(140, 34%, 70%);
  --color-mint-green-600: hsl(140, 34%, 79%);
  --color-mint-green-700: hsl(140, 34%, 76%);
  --color-mint-green-800: hsl(140, 34%, 73%);

  --color-cyber-green-100: hsl(66, 80%, 71%);
  --color-cyber-green-200: hsl(66, 80%, 66%);
  --color-cyber-green-300: hsl(66, 80%, 61%);
  --color-cyber-green-400: hsl(66, 80%, 56%);
  --color-cyber-green-500: hsl(66, 80%, 51%);
  --color-cyber-green-600: hsl(66, 80%, 46%);
  --color-cyber-green-700: hsl(66, 80%, 41%);
  --color-cyber-green-800: hsl(66, 80%, 36%);

  --color-steel-grey-100: hsl(216, 12%, 78%);
  --color-steel-grey-200: hsl(216, 12%, 68%);
  --color-steel-grey-300: hsl(216, 12%, 58%);
  --color-steel-grey-400: hsl(216, 12%, 48%);
  --color-steel-grey-500: hsl(216, 12%, 38%);
  --color-steel-grey-600: hsl(216, 12%, 28%);
  --color-steel-grey-700: hsl(216, 12%, 18%);
  --color-steel-grey-800: hsl(216, 12%, 8%);

  --color-theme-red-400: hsl(0, 100%, 41%);
  --color-theme-red-500: hsl(0, 72%, 54%);
  --color-theme-red-600: hsl(0, 100%, 51%);

  --color-ember-100: hsl(4, 89%, 95%);
  --color-ember-200: hsl(4, 89%, 85%);
  --color-ember-300: hsl(4, 89%, 75%);
  --color-ember-400: hsl(4, 89%, 65%);
  --color-ember-500: hsl(4, 89%, 59%); /* Original HEX: #f54236 */
  --color-ember-600: hsl(4, 89%, 48%);
  --color-ember-700: hsl(4, 89%, 38%);
  --color-ember-800: hsl(4, 89%, 28%);

  --color-cyber-black: hsl(0, 0%, 7%);

  --color-primary: var(--color-theme-red-500);
  --color-primary-hover: var(--color-theme-red-600);
}

:root {
  --background: #ffffff;
  --foreground: #222222;

  --secondary-color: hsl(198, 19%, 32%);
  --primary-font-color: var(--background);
  --secondary-font-color: hsl(200, 18%, 10%);
}

@layer base {
  html {
    @apply text-zinc-200 bg-gradient-to-b to-[#151515] from-0% from-zinc-950 to-80%;
    scrollbar-width: thin;
  }
  body {
    font-family: var(--font-space-grotesk);
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
    font-family: var(--font-nord);
  }

  h1 {
    @apply text-4xl tracking-tight;
  }

  h2 {
    @apply text-3xl tracking-tight;
  }

  h3 {
    @apply text-2xl tracking-tight;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply text-base;
    @apply tracking-normal;
    @apply text-gray-100;
  }

  ul {
    @apply list-disc;
    @apply ml-4;
  }

  li {
    @apply ml-2;
  }

  .underline-animation {
    @apply relative;
  }

  .underline-animation::after {
    @apply content-[''] absolute left-1/2 bottom-0 w-0 h-[2px] bg-primary transition-all duration-300 ease-in-out;
  }

  .underline-animation:hover::after {
    @apply w-full left-0;
  }

  .shadow-cyber-green {
    @apply shadow-cyber-green-500;
  }

  .bg-grad {
    @apply text-zinc-200 bg-gradient-to-b to-[#151515] from-0% from-zinc-950 to-80%;
  }

  .bg-grad-reverse {
    @apply text-zinc-200 bg-gradient-to-t to-[#151515]/40 from-0% from-zinc-950/40 to-80%;
    backdrop-filter: blur(20);
  }

  .glass-card-spotlight[data-mouseover="true"]::before {
    @apply content-[''] absolute w-[500px] h-[500px] opacity-[0.04] -translate-x-1/2 -translate-y-1/2 blur-[25px] pointer-events-none rounded-full -z-10;
    top: var(--y);
    left: var(--x);
    background: radial-gradient(circle, #a0a0a0 5%, #e4e4e4 40%);
  }
}

@layer utilities {
  .font-primary {
    font-family: var(--font-nord);
  }

  .font-secondary {
    font-family: var(--font-space-grotesk);
  }
}
